.contents {
    position: fixed;
    left: 0px;
    top: 40px;
    padding: 10px;
    width: 100%;
}

.contents .contents__pictures i{
    font-size: 35px;
    border: solid 1px black;
    padding: 40px;
}

.contents .contents__list  {
    overflow-y: auto;
}

.contents .contents__list .contents__list__item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 1px #eeeeee;
}

.contents .contents__list .contents__list__item__img {
    border-radius: 5%;
    width: 120px;
    height: 120px;
}

.contents .contents__list .contents__list__item__description {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
}

.contents .contents__list .contents__list__item__description .title {
    padding-bottom: 15px;
    font-size: 17px;
}

.contents .contents__list .contents__list__item__description .areatime {
    padding-bottom: 15px;
    font-size: 15px;
    color: #909090;
}

.contents .contents__list .contents__list__item__description .price {
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
}

.contents .contents__list .contents__list__item__description .chatliked {
    float: right;
}
.contents .contents__list .contents__list__item__description .chatliked i {
    color: #777777;
    margin-left: 5px;
}