.contents {
    padding: 0;
    width: 100%;
}

.contents .empty {
    width: 100%;
    height: 3em;
}

.contents .contents__title {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.1em;
    font-weight: bold;
}

.contents .contents__service__list {
    padding: 1em;
    font-size: 0.9em;
}

.contents .contents__service__list__item {
    border: solid 1px #dddddd;
    border-radius: 1em;
    padding: 0.25em 1em;
    margin-right: 1em;
    line-height: 3em;
}

.contents .contents__service__more {    
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    color: #009973;
}

.contents .contents__market__list {
    padding: 1em;
    font-size: 1em;
    line-height: 2.5em;
    border-bottom: solid 7px #efefef;
}

.contents .contents__market__list__item {
    display: block;
}

.contents .contents__advertise__list {
    padding: 1em;
    font-size: 1em;
    line-height: 2.5em;
}

.contents .contents__advertise__list__item {
    display: block;
}
.contents .contents__pictures {
    padding: 1em;
    border-bottom: solid 1px #dddddd;
}
.contents .contents__pictures__item {
    width: 6em;
    height: 6em;
    border: solid 1px #dddddd;
    color: #777777;
    border-radius: 0.25em;
    padding: 2em;
    text-align: center;
}
.contents .contents__pictures__item i{
    font-size: 1.5em;
}

.contents input {
    width: 100%;
    padding: 0.75em;
    border: 0;
    font-size: 1em;
}

.contents select {
    width: 100%;
    padding: 0.75em;
    border: 0;
    font-size: 1em;
    color: #dddddd;
    background-color: white;
}

.contents textarea {
    width: 100%;
    height: 14em;
    border: 0;
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0.75em;
}

.contents input#filename {
    display: none;
}

.contents hr {
    border: solid 1px #dddddd;
}

.contents .contents__list  {
    overflow-y: auto;
}

.contents .contents__list .contents__list__item {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: solid 1px #eeeeee;
}

.contents .contents__list .contents__list__item__img {
    border-radius: 0.25em;
    width: 6em;
    height: 6em;
}

.contents .contents__list .contents__list__item__description {
    width: 100%;
    padding: 0.3em;
    margin-left: 1em;
}

.contents .contents__list .contents__list__item__description .title {
    font-size: 1.1em;
}

.contents .contents__list .contents__list__item__description .areatime {
    padding-top:0.3em;
    font-size: 0.9em;
    color: #909090;
}

.contents .contents__list .contents__list__item__description .price {
    padding-top: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
}

.contents .contents__list .contents__list__item__description .chatliked {
    padding-top: 0.5em;
    float: right;
}
.contents .contents__list .contents__list__item__description .chatliked i {
    color: #777777;
    margin-left: 0.5em;
}