.downnav {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding : 0.5em 1.5em;
    border-top : solid 2px #f0f0f0;
    background-color: white;
}

.downnav .downnav__list {
    display: flex;
    justify-content: space-between;
}

.downnav__list__item__menubox {
    text-align: center;
}

.downnav i {
    font-size: 1em;
    padding: 0.5em;
    color: #404040;
}

.downnav__list__item__menubox__name {
    color: #666666;
    text-align: center;
    font-size: 0.75em;
}