.itempicture {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 300px;
    justify-content: center;
    overflow: hidden;
}

.itempicture img {
    max-width: 100%;
    height: auto;
}

.itempicture .itempicture__list {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: green;
}

.itempicture .itempicture__list .itempicture__list__item i {
    font-size: 3px;
    padding: 5px;
    opacity: 78;
    color: red;
    opacity: 0.8;
}