@import "reset.css";
@import "upmenu.css";
@import "upnav.css";
@import "downnav.css";
@import "contents.css";
@import "item.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

select:focus,
input:focus,
textarea:focus {
    outline: none !important;
}

body {
    font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #101010;
}