.upnav {
    width: 100%;
    font-size: 1em;
}

.upnav .upnav__list {
    display: flex;
    justify-content: space-between;
}

.upnav .upnav__list__item {
    width: 100%;
    padding: 1em;
    border-bottom: solid 1px #c0c0c0;
    text-align: center;
    color: #c0c0c0;
}

.upnav .upnav__list__item.selected {
    color: black;
    border-bottom: solid 2px black;
}